
/* #region Store Focus */
.list-group{
    max-height: 480px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    margin-bottom: 18px !important;
}

/* #endregion */

.carousel-indicators li {
    background-color: #F14EA9 !important;
}

.carousel-indicators .active {
    background-color: #f7a6d2 !important;
}